<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete a course</title>
</head>
<body>
    <h2>Are you sure you want to delete the following course?</h2>
    <table border=1>
       <tr>
           <td>Name: {{course.name}}</td>
           <td>Description: {{course.description}}</td>
       </tr>
    </table>
    <form action="/back" method="post">
        {% csrf_token %}
        <input type="submit" value="No" name="no">
    </form>
    <form action="/delete/{{course.id}}" method="post">
        {% csrf_token %}
        <input type="submit" value="Yes! I want to delete this!" name="yes">
    </form>
</body>
</html>
